body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu {
  background-color: lightgray;
  display: flex;
}

.menu > div {
  margin-left: 50px;
}

.contactList {
  display: flex;
}

.contactList > .contactsView {
  width: 25%;
  border-right: 1px solid gray;
}

.contactList > .contactView {
  width: 75%
}

.contact {
  padding: 5px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.contact:hover {
  color: red;
  background-color: lightgray;
}